{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %} Login Page {% endblock %}</title>

  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  
  <link rel="stylesheet" href="{% static 'NeuraNotes/Css/style.css' %}">
</head>

<body class="light-mode auth-page">

<div class="mode-toggle">
  <i class="fa-solid fa-moon" id="moonIcon"></i>
  <i class="fa-solid fa-sun d-none" id="sunIcon"></i>
</div>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card login-card p-4 shadow-lg">
    {% if error %}
    <div class="alert alert-warning alert-dismissible fade show mb-4" role="alert">
      <strong class="text-danger">Error:- {{error}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}

    <h2 class="text-center mb-4 auth-title">
      <i class="fa-solid fa-right-to-bracket me-2"></i>Login
    </h2>

    <form action="{% url 'login' %}" method="POST">

      {% csrf_token %}

      <div class="mb-3">
        <label class="form-label">User Name</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-regular fa-user"></i></span>
          <input type="text" class="form-control" id="loginEmail" placeholder="Enter User name" name="username">
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
          <input type="password" class="form-control" id="loginPassword" placeholder="Enter password" name="password">
        </div>
      </div>

      <button type="submit" class="btn btn-dark w-100 auth-btn">
        Login
      </button>

      <p class="text-center mt-3">
        Don't have account?
        <a href="{% url 'register' %}">Register</a>
      </p>

    </form>

  </div>
</div>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Custom JS -->
<script src="{% static 'NeuraNotes/Javascript/lightanddarkmode.js' %}"></script>

</body>
</html>
